<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/getAllRecipes">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/userProfile">Profile</a>
              </li> --}}
            </ul>
          </div>
        </div>
      </nav>
</header>