<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<div class="container">
    <form method="get" action="/getRecipeByName">
        <div class="mb-3">
          <label for="search" class="form-label">Search</label>
          <input type="text" class="form-control" id="search" name="rName" placeholder="Enter Search Text">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('../partials/footer') %>
